@use '../strategy/strategy.component.scss';

input {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 50px;
  height: 25px;
}

.columns {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  margin-bottom: 30px;
}